<div id="header">
  <div class="head">
    <div class="logo">
      <a routerLink=""><img src="../../assets/image/new_logo.jpg" alt=""></a>
    </div>
    <div class="namMenu">
      <ul class="menu">
        <li class="test" [ngClass]="{linked: href === ''}"><a routerLink="/">Home</a></li>
        <li class="test" [ngClass]="{linked: href === 'about-us'}"><a routerLink="/about-us">About us</a></li>
        <li class="test" [ngClass]="{linked: href === 'tournaments'}"><a routerLink="/tournaments">Tournaments</a></li>
        <li class="test" [ngClass]="{linked: href === 'games'}"><a routerLink="/games">Games</a></li>
        <li class="test" [ngClass]="{linked: href === 'sponsors'}"><a routerLink="/sponsors">Sponsors</a></li>
      </ul>
      <ul class="minMenu">
        <li>
          <a href=""><img src="../../assets/icons/website/bars-solid.svg" alt=""></a>
        </li>
      </ul>
      <ul *ngIf="href === 'games'" class="subMenu">
          <li [ngClass]="{linked: hrefChildren === 'rocket-league'}"><a routerLink="/games/rocket-league"><span class="game-view">Rocket League</span></a></li>
          <li [ngClass]="{linked: hrefChildren === 'fortnite'}"><a routerLink="/games/fortnite"><span class="game-view">Fortnite</span></a></li>
        <li [ngClass]="{linked: hrefChildren === 'fifa'}"><a routerLink="/games/fifa"><span class="game-view">Fifa</span></a></li>
        <li [ngClass]="{linked: hrefChildren === 'super-smash-bros'}"><a routerLink="/games/super-smash-bros"><span class="game-view">Super Smash Bros</span></a></li>
        <li [ngClass]="{linked: hrefChildren === 'call-of-duty'}"><a routerLink="/games/call-of-duty"><span class="game-view">Call of Duty</span></a></li>
      </ul>
    </div>
  </div>
</div>
