<div id="header">
  <div class="head">
    <div class="logo"><a routerLink=""><img src="../../assets/image/new_logo.jpg" alt=""></a></div>
    <input type="checkbox" id="checkbox">
    <label for="checkbox" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>

    <ul class="menu">
      <a routerLink="/">Home</a>
      <a routerLink="/about-us">About us</a>
      <a routerLink="/tournaments">Tournaments</a>
      <a routerLink="/games">Games</a>
      <a routerLink="/sponsors">Sponsors</a>
      <label for="checkbox" class="hide-menu-btn">
       <i class="fas fa-times"></i>
      </label>
    </ul>
  </div>
</div>
