@import "../../styles"

#main
  margin: 0
  padding: 0
  width: 100vw
  height: $footerHeight
  background-color: $backgroundColorFooter
  display: flex
  justify-items: flex-end



  a
    display: flex
    align-items: center
    justify-content: center
    span
      display: flex
      color: white
