@import "~src/styles"
@import "~src/app/games/games.component"

$background_image: "src/assets/image/new_logo.jpg"

$fontColorDefault: #ffd613

.backgroundImageNewLogo
  background: url("~src/assets/image/new_logo_2.jpg") no-repeat 0 center fixed
  background-size: cover

#main
  display: flex
  flex-direction: row

  .asideLeft,
  router-outlet
    display: flex
    width: 22%

  .main
    display: flex
    width: 56%


@media screen and (max-width: 1250px)
  #main

    router-outlet
      width: 250px


  @media screen and (max-width: 1100px)
    #main
      width: 100%

      .main
        width: calc(78% - 103px)
        min-width: 400px

      .asideLeft
        width: 103px

      router-outlet
        width: 250px

    @media screen and (max-width: 700px)
