@import "~src/styles"
@import "~src/app/games/games.component"

$background_image: "src/assets/image/new_logo.jpg"

$fontColorDefault: #ffd613

.backgroundImageNewLogo
  background: url("~src/assets/image/new_logo_2.jpg") no-repeat 0 center fixed
  background-size: cover

#main
  display: flex
  flex-direction: row

  .asideLeft,
  .asideRight
    display: flex
    width: 22%

  .main
    display: flex
    width: 56%


  @media screen and (max-width: 1250px)
    #main

      .asideRight
        display: none

      .main
        width: 68%

    @media screen and (max-width: 1100px)
      #main
        min-width: 400px

        .asideRight
          width: 0

        .asideLeft
          width: 103px

        .main
          width: calc(100% - 103px)

        .backgroundImageNewLogo
          width: 1000px
