<div class="main">
<div class="player">
  <div class="member">
    <img class="picture" src="../../../assets/image/member/new_logo.jpg" alt="">
    <div class="member-contend">
      <h3 class="title">Player One</h3>
      <span class="post">Player One</span>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet animi dolorem ex explicabo
        laboriosam, laborum magni necessitatibus neque nobis omnis placeat quidem tenetur? Animi cum fugit nihil
        quos ut.
      </p>
      <ul class="game_social">
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/facebook.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/twitter.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/instagram.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/discord.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/twitch.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/youtube.svg" alt="">
        </a></li>
      </ul>
    </div>
  </div>
  <div class="member">
    <img class="picture" src="../../../assets/image/member/new_logo.jpg" alt="">
    <div class="member-contend">
      <h3 class="title">Player Two</h3>
      <span class="post">Player Two</span>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet animi dolorem ex explicabo
        laboriosam, laborum magni necessitatibus neque nobis omnis placeat quidem tenetur? Animi cum fugit nihil
        quos ut.
      </p>
      <ul class="game_social">
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/facebook.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/twitter.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/instagram.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/discord.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/twitch.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/youtube.svg" alt="">
        </a></li>
      </ul>
    </div>
  </div>
  <div class="member">
    <img class="picture" src="../../../assets/image/member/new_logo.jpg" alt="">
    <div class="member-contend">
      <h3 class="title">Player Three</h3>
      <span class="post">Player Three</span>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet animi dolorem ex explicabo
        laboriosam, laborum magni necessitatibus neque nobis omnis placeat quidem tenetur? Animi cum fugit nihil
        quos ut.
      </p>
      <ul class="game_social">
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/facebook.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/twitter.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/instagram.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/discord.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/twitch.svg" alt="">
        </a></li>
        <li class="game_icon"><a href="">
          <img src="../../../assets/icons/youtube.svg" alt="">
        </a></li>
      </ul>
    </div>
  </div>
</div>
</div>
