@import "~src/styles"
@import "~src/app/games/games.component"

.backgroundImage
  background: url("~src/assets/image/games/rocket-league.jpg") no-repeat 0 center fixed
  background-size: cover

.main
  display: flex
  flex-wrap: wrap
  position: relative
  width: 100%
  min-height: calc(100vh - #{$navbarHeight})
  box-sizing: border-box

  .player
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    width: 100%
    height: 100%
    box-sizing: border-box


    .member:hover .member-contend
      right: 0

    .member:hover .picture
      right: 80%

    .member
      margin: 5px
      width: 600px
      height: 250px
      display: flex
      flex-direction: column
      align-items: center
      justify-items: center
      overflow: hidden
      border-radius: 20%
      border: 5px solid $backgroundColorOne
      position: relative

      .picture
        display: flex
        height: 100%
        width: 100%
        transition: all 0.4s ease-in-out 0s
        position: relative
        right: 0

      .member-contend
        display: flex
        flex-direction: column
        width: 80%
        height: 100%
        padding: 10% 5% 0
        position: absolute
        top: 0
        right: -80%
        transition: all 0.4s ease-in-out 0s
        background: whitesmoke

        .fullName
          display: flex
          font-size: $fontSizeHeadingMedium
          font-weight: bold

        .gamerTag
          display: flex
          font-size: $fontSizeHeadingSmall

        .gameStation
          display: flex
          flex-wrap: wrap
          flex-direction: row
          list-style-type: none
          height: 35px

          .gameStationIcon
            display: flex
            height: 35px
            padding-right: 5px
            align-items: center

            img
              width: 25px

        .memberListSocialMedia
          display: flex
          flex-wrap: wrap
          flex-direction: row
          list-style-type: none

          .memberListSocialMediaIcons
            display: flex
            border-radius: 20%

            a
              padding: 5px

              img
                width: 25px

