<div id="game-view">
  <ul>
    <li><a routerLink="rocket-league"><span class="game-view">Rocket League</span></a></li>
    <li><a routerLink="fortnite"><span class="game-view">Fortnite</span></a></li>
    <li><a routerLink="super-smash-bros"><span class="game-view">Super Smash Bros Ultimate</span></a></li>
    <li><a routerLink="call-of-duty"><span class="game-view">Call of Duty</span></a></li>
    <li><a routerLink="fifa"><span class="game-view">Fifa</span></a></li>
  </ul>
</div>
<router-outlet></router-outlet>
