/* You can add global styles to this file, and also import other style files */
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

$color_one: #2767b1;
$color_two: #3052a4;
$background_color_header: #34495e;
$color_footer: rgba(25, 1, 41, 0.97);
$font_family: sans-serif;
$nav_heigth: 100px;
$footer_heigth: 120px;

html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font_family;
}
