<div id="main">
  <div class="header">
    <p style="height: 300px">
    <h1 class="textShadow">Willkommen bei Zoorig eSport</h1>
    <p style="height: 50px">
    <p class="line boxShadow"></p>
    <p style="height: 50px">
    <p class="description textShadow">Willkommen in der Welt von Zoorig eSport. Zoorig ist eine aufstrebende eSport Organisation
      aus der Schweiz.
      Hast du fragen zu uns oder möchtest mehr über uns erfahren, siehe dich hier auf unserer Seite um oder melde dich
      mit dem Kontaktformular unter Kontakt, wir melden uns so schnell wie möglich zurück.</p>
  </div>
</div>
